<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BigApp.Properties.Settings.WatchDemoExamConnectionString"
            connectionString="Data Source=WIN-K2G5IS9POD3\SQLEXPRESS;Initial Catalog=WatchDemoExam;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>